.loading{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top:calc(50vh - 60px);
    position: relative;
    animation: load 3s linear infinite;
}
.loading div{
    width: 100%;
    height: 100%;
    position: absolute;
}
.loading span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(159,168,187);
    position: absolute;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    animation: changeBgColor 3s ease infinite;
}
@keyframes load{
    0%{
        -webkit-transform: rotate(0deg);
    }
    33.3%{
        -webkit-transform: rotate(120deg);
    }
    66.6%{
        -webkit-transform: rotate(240deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes changeBgColor{
    0%,100%{
        background: rgb(197,203,219);
    }
    33.3%{
        background: rgb(159,168,187);
    }
    66.6%{
        background: rgb(134,149,168);
    }
}
.loading div:nth-child(2){
    transform: rotate(120deg);
}
.loading div:nth-child(3){
    transform: rotate(240deg);
}
.loading div:nth-child(2) span{
    animation-delay: 1s;
}
.loading div:nth-child(3) span{
    animation-delay: 2s;
}
